html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/*
=========================================================
 Container 
===================*/
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

/* Header 
===================*/
.header {
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-top: 40px;
    height: 90px;
    width: 40px;
}

/* Nav 
===================*/
.nav {
    padding-top: 40px;
    display: flex;
    font-size: 17px;
    text-transform: uppercase;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    opacity: 0.75;
    margin-left: 50px;
}

.nav__link:hover {
    opacity: 1;
    transition: opacity 0.15s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

/* Intro 
===================*/
.intro {
    position: relative;
    height: 720px;
    width: 100%;
    background: url(img/block1.jpg) center no-repeat;
}

.intro__name {
    font-size: 52px;
    color: white;
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
}

.intro__sname {
    font-size: 28px;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    color: white;
    padding: 15px 0 20px;
}

.text {
    font-size: 15px;
    color: white;
    font-family: 'Open Sans', cursive;
    font-weight: 400;
    line-height: 1.25;
}

.introtext {
    max-width: 600px;
    position: absolute;
    margin-top: 185px;
    z-index: 1001;
}

#button2 {
    margin-top: 20px;
}

/* Second Block 
===================*/
.navblock2 {
    display: flex;
    justify-content: space-between;
}

.nav__button2 {
    margin-top: 30px;
    color: #f38b83;
    text-decoration: none;
    text-align: center;
    margin-right: 50px;
    padding: 15px 50px;
    background-color: white;
    border: 1.75px solid #f38b83;
    width: 25%;
    border-radius: 100px;
}

.nav__button2:hover {
    color: white;
    background-image: linear-gradient(45deg, #f38b83, #f4d1ad);
    border: 1.25px solid;
    border-radius: 100px;
    border-image: linear-gradient(45deg, #f38b83, #f4d1ad);
}


#lastitem2 {
    margin-right: 0px;
}

.secondblock {
    height: 720px;
}

.name {
    text-align: center;
}

.blockname2 {
    font-size: 35px;
    font-family: 'Comfortaa', cursive;
    margin-top: 50px;
}

.pink {
    color: #ffa4a7;
}

.subtitle {
    margin-top: 5px;
}

.line {
    margin-top: 10px;
}

.slider {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.slider__item {
    margin-top: 50px;
    width: 17%;
    margin-right: 20px;
    margin-left: 0px;
    text-align: center;
    transition: 1s;
}
.slider__item:hover {
transform: scale(1.05);
}
.slider__item:nth-child(5) {
    margin-right: 0px;
}

.case {
    width: 200px;
    height: 300px;
    border: 2px solid white;
    border-radius: 70px 70px 70px 70px;
    overflow: hidden;
}
.cupcakeimg2 {
    max-height: 100%;
    max-width: 100%;
}

.namecake2 {
    padding-top: 20px;
    margin-bottom: 10px;
    font-family: 'Comfortaa', cursive;
}

#case1 {
    background-image: url(img/fruitcupcake.png);
}

#case2 {
    background-image: url(img/fruitcupcake.png);
}

#case3 {
    background-image: url(img/fruitcupcake.png);
}

#case4 {
    background-image: url(img/fruitcupcake.png);
}

.right_arrow {
    max-height: 70px;
}

.left_arrow {
    max-height: 70px;
}

.link {
    display: block;
    height: 100%;
    text-decoration: none;
    color: black;
}

/* Third Block 
===================*/
.thirdblock {
    height: 500px;
}

.thirdblock_item_case {
    height: 340px;
    width: 285px;
    background-image: url(img/third_block_item1.png);
}

.icon {
    text-align: center;
    margin-top: 0px;
    padding-top: 40px;
}

.item_heading {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    text-align: center;
    margin: 20px 40px;
    font-size: 17px;
}

.item_subtitle {
    text-align: center;
    margin: 0 50px;
    font-size: 14px;
    color: #717171;
    font-family: 'Open Sans', sans-serif;
}

#itemsblock3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

/* Fourth Block 
===================*/
.fourthblock {
    height: 500px;
}

.photo {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.photocase {
    width: 343px;
    height: 343px;
    border: 2px solid pink;
    transition: 1s;
}
.photocase:hover {
transform: scale(1.06);
}

#photo1 {
    background-image: url(img/photo2.png);
}

#photo2 {
    background-image: url(img/photo1.png);
}

#photo3 {
    background-image: url(img/photo3.png);
}

.fifthblock {
    position: relative;
    height: 720px;
    width: 100%;
    background: url(img/5block.png) center no-repeat;
    margin-top: 40px;
}

.heading5 {
    font-size: 32px;
    color: white;
    font-family: 'Comfortaa', cursive;
    padding-top: 140px;
    line-height: 1.2;
}

.subtitle5 {
    padding-top: 20px;
    font-size: 20px;
    color: white;
    font-family: 'Comfortaa', cursive;
}

.your_name {
    background-color: rgba(0, 120, 201, 0.0);
    outline: none;
    border: 1.5px solid white;
    padding: 20px 230px 20px 5px;
    color: white;
    margin-top: 50px;
    font-size: 15px;
}

input[type="text"]::-webkit-input-placeholder {
    color: white;
    font-size: 15px;
}

.your_phone {
    background-color: rgba(0, 120, 201, 0.0);
    outline: none;
    border: 1.5px solid white;
    padding: 20px 230px 20px 5px;
    color: white;
    margin-top: 25px;
    font-size: 15px;
    margin-bottom: 15px;
}

.button {
    background-image: linear-gradient(45deg, #e4514f, #f47879);
    padding: 20px 70px;
    border: 1.5px solid;
    border-right: none;
    border-image: linear-gradient(45deg, #e4514f, #f47879);
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 17px;
    border-radius: 60px;
    margin-top: 35px;
    cursor: pointer;
}

.button1 {
    position: relative;
}

.cupcakebutton {
    position: absolute;
    margin-left: -60px;
    margin-bottom: 10px;
}
footer {
height: 170px;
}
.columns {
display: flex;
justify-content: space-between;
margin-top: 80px;
align-items: center;
}
.column {
font-family: 'Open Sans', sans-serif;
font-size: 17px;
line-height: 1.75;
}
.tnumber {
font-weight: 700;
font-size: 19px;
}
.footerlink {
text-decoration: none;
color: black;
}
